In [3]:
import pandas as pd

In [5]:
basedir = 'D:/analysis/Creinhardtii/'
file_gff = basedir + 'Cr2Vc.gff'

In [14]:
df_gff = pd.read_csv(file_gff,sep='\t',header=None)
df_gff = df_gff.set_index(1)

In [15]:
df_gff.head()

                 0         2         3
1
Vocar20008197m  s1  10007962  10008957
Vocar20008198m  s1   8405273   8410668
Vocar20008199m  s1   4738119   4740139
Vocar20008200m  s1   4973145   4978575
Vocar20008201m  s1    935923    939692

In [12]:
file_kaks = basedir + 'Cr2Vc.collinearity.kaks.clean'
df_kaks = pd.read_csv(file_kaks,sep='\t',header=None)

In [21]:
df_kaks.head()

,0,1,2,3,4,5,a_chr,a_loc,b_chr
0,0- 0:,Cre01.g024900.t1.1,Vocar20009321m,5.000000e-26,0.848451,1.413249,chr_1,3847773,s1
1,0- 1:,Cre01.g024950.t1.2,Vocar20009419m,0.000000e+00,0.276327,1.065206,chr_1,3853192,s1
2,0- 2:,Cre01.g025000.t1.2,Vocar20009601m,4.000000e-113,0.548940,0.480249,chr_1,3858743,s1
3,0- 3:,Cre01.g025100.t1.1,Vocar20008457m,2.000000e-145,0.370589,0.856308,chr_1,3870123,s1
4,0- 4:,Cre01.g025150.t1.2,Vocar20008664m,1.000000e-177,0.225393,0.969009,chr_1,3873897,s1

In [18]:
a_chromosomes = [df_gff.loc[x][0] for x in df_kaks[1]]
a_location = [df_gff.loc[x][2] for x in df_kaks[1]]
b_chromosomes = [df_gff.loc[x][0] for x in df_kaks[2]]
b_location = [df_gff.loc[x][2] for x in df_kaks[2]]

In [20]:
df_kaks['a_chr'] = a_chromosomes
df_kaks['a_loc'] = a_location
df_kaks['b_chr'] = b_chromosomes

In [69]:
df_kaks.head()
mask = (df_kaks['a_chr'] != 'ChrC') & (df_kaks['ath_chr'] != 'ChrM')
df_kaks_masked = df_kaks[mask]

In [70]:
df_kaks_masked.to_csv('test.csv',sep='\t', index=None)

In [73]:
print len(df_kaks_masked[1]),len(set(df_kaks_masked[1]))

25570 19183

In [79]:
df_kaks_masked[1].value_counts()

AT1G69460.1    5
AT4G38860.1    5
AT1G04160.1    4
AT4G36260.1    4
AT1G01440.1    4
AT2G35960.1    4
AT1G62320.1    4
AT1G26690.1    4
AT1G01620.1    4
AT1G75250.2    4
AT1G14010.1    4
AT4G38740.1    4
AT2G35860.1    4
AT5G58930.1    4
AT1G26450.1    4
...
AT5G56460.1    1
AT4G38600.1    1
AT4G33940.1    1
AT2G28660.1    1
AT5G61620.1    1
AT4G21740.1    1
AT4G16060.1    1
AT1G80380.4    1
AT1G06060.1    1
AT2G32090.1    1
AT1G15590.2    1
AT5G20560.1    1
AT3G54630.1    1
AT4G17000.1    1
AT3G17470.1    1
Length: 19183, dtype: int64

In [80]:
df_kaks_masked.head()

,0,1,2,3,4,5,ath_chr,ath_loc,tha_chr
0,0- 0:,AT1G30700.1,Thhalv10027426m,1.000000e-151,0.400901,2.134071,Chr1,10892570,scaffold_1
1,0- 1:,AT1G30810.1,Thhalv10024338m,0.000000e+00,0.345269,1.755505,Chr1,10936765,scaffold_1
2,0- 2:,AT1G30820.1,Thhalv10024728m,0.000000e+00,0.161765,1.715730,Chr1,10944913,scaffold_1
3,0- 3:,AT1G30850.1,Thhalv10027261m,4.000000e-26,0.800911,1.723686,Chr1,10985078,scaffold_1
4,0- 4:,AT1G30860.1,Thhalv10024247m,1.000000e-30,0.750071,0.984989,Chr1,10986523,scaffold_1

In [82]:
df_kaks_masked[(df_kaks_masked[1]=='AT1G69460.1')]

,0,1,2,3,4,5,ath_chr,ath_loc,tha_chr
1192,51- 36:,AT1G69460.1,Thhalv10008758m,1.000000e-93,0.137558,1.056825,Chr1,26111809,scaffold_5
3873,72- 6:,AT1G69460.1,Thhalv10008684m,2.000000e-78,0.271316,2.709354,Chr1,26111809,scaffold_5
3979,78- 5:,AT1G69460.1,Thhalv10005484m,3.000000e-72,-2.000000,-2.000000,Chr1,26111809,scaffold_6
3987,79- 5:,AT1G69460.1,Thhalv10004879m,2.000000e-65,-2.000000,-2.000000,Chr1,26111809,scaffold_6
5807,106-191:,AT1G69460.1,Thhalv10019128m,9.000000e-114,0.051136,0.628776,Chr1,26111809,scaffold_9

In [96]:
df_syn1 = df_kaks_masked[[True if '51-' == x.strip()[0:3] else False for x in df_kaks_masked[0]]]

In [87]:
df_kaks_masked[0][0]

'  0-  0:'

In [97]:
ath_synteny_genes = df_syn1[1]
eas_synteny_genes = df_syn1[2]