**homolog visualization for certain sigle gene as input**
- need to have 'distance value' from input gene and matched gene with blast output. 
- the distance values should be comparable with other input gene. 


using 

```
modified similarity measure = (similarity*2*alignment_length) / (query_length + subject_length)
```

In [1]:
import pandas as pd

In [2]:
file_bo = '../../DroughtNet/blast/Athaliana_167.fa.pep.fa.bp.ev1e5.out7.rmsharp.txt'
df_bo   = pd.read_csv(file_bo,sep='\t',header=None)

In [3]:
df_bo.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,AT4G04480.1,AT4G04480.1,100.00,399,0,0,1,399,1,399,0.000000e+00,805
1,AT4G04480.1,AT4G22030.1,72.57,412,94,8,1,394,1,411,0.000000e+00,578
2,AT1G31380.1,AT1G31380.1,100.00,176,0,0,1,176,1,176,5.000000e-125,353
3,AT1G31380.1,AT1G31400.1,68.39,155,46,1,1,155,109,260,3.000000e-67,209
4,AT1G31380.1,AT1G31370.1,80.15,131,24,1,1,129,63,193,5.000000e-64,198

In [4]:
file_gff = '../../DroughtNet/PhytozomeV10_download/PhytozomeV10/Athaliana/annotation/Athaliana_167_TAIR10.gene.gff3'

In [6]:
df_gff   = pd.read_csv(file_gff,sep='\t',skiprows=2,header=None)
df_gff.head()

,0,1,2,3,4,5,6,7,8
0,Chr1,phytozomev10,gene,3631,5899,.,+,.,ID=AT1G01010.TAIR10;Name=AT1G01010
1,Chr1,phytozomev10,mRNA,3631,5899,.,+,.,ID=AT1G01010.1.TAIR10;Name=AT1G01010.1;pacid=1...
2,Chr1,phytozomev10,five_prime_UTR,3631,3759,.,+,.,ID=AT1G01010.1.TAIR10.five_prime_UTR.1;Parent=...
3,Chr1,phytozomev10,CDS,3760,3913,.,+,0,ID=AT1G01010.1.TAIR10.CDS.1;Parent=AT1G01010.1...
4,Chr1,phytozomev10,CDS,3996,4276,.,+,2,ID=AT1G01010.1.TAIR10.CDS.2;Parent=AT1G01010.1...

In [8]:
df_gff.loc[1][8]

'ID=AT1G01010.1.TAIR10;Name=AT1G01010.1;pacid=19656964;longest=1;Parent=AT1G01010.TAIR10'

In [ ]:
df_gff['genename'] = df_gff[8].apply(lambda x : x.split(';')[0].replace('ID=','').split('.')[0])
df_gff['transcriptname'] = df_gff[8].apply(lambda x : '.'.join(x.split(';')[0].replace('ID=','').split('.')[0:2]))

# grep longest transcript names
mask        = (df_gff[2] == 'mRNA')
df_gff_mRNA = df_gff[mask]
df_gff_mRNA['longest'] = df_gff_mRNA[8].apply(lambda x : x.split(';')[3].replace('longest=',''))
df_gff_mRNA_index =  df_gff_mRNA.set_index('transcriptname')

def get_longest(x):
    try:
        return df_gff_mRNA_index.loc[x]['longest']
    except KeyError:
        return None
df_gff['longest'] = df_gff['transcriptname'].apply(get_longest)

In [10]:
df_gff_index = df_gff.set_index(['genename','longest'])

                              0             1               2     3     4  5  \
genename          longest
A.T.1.G.0.1.0.1.0 NaN      Chr1  phytozomev10            gene  3631  5899  .
                  1        Chr1  phytozomev10            mRNA  3631  5899  .
                  1        Chr1  phytozomev10  five_prime_UTR  3631  3759  .
                  1        Chr1  phytozomev10             CDS  3760  3913  .
                  1        Chr1  phytozomev10             CDS  3996  4276  .

                           6  7  \
genename          longest
A.T.1.G.0.1.0.1.0 NaN      +  .
                  1        +  .
                  1        +  .
                  1        +  0
                  1        +  2

                                                                           8  \
genename          longest
A.T.1.G.0.1.0.1.0 NaN                     ID=AT1G01010.TAIR10;Name=AT1G01010
                  1        ID=AT1G01010.1.TAIR10;Name=AT1G01010.1;pacid=1...
                  1        ID=AT1G01010.1.TAIR10.five_prime_UTR.1;Parent=...
                  1        ID=AT1G01010.1.TAIR10.CDS.1;Parent=AT1G01010.1...
                  1        ID=AT1G01010.1.TAIR10.CDS.2;Parent=AT1G01010.1...

                             transcriptname
genename          longest
A.T.1.G.0.1.0.1.0 NaN      AT1G01010.TAIR10
                  1             AT1G01010.1
                  1             AT1G01010.1
                  1             AT1G01010.1
                  1             AT1G01010.1