In [3]:
import pandas as pd

In [5]:
basedir = 'D:/analysis/Creinhardtii/'
file_gff = basedir + 'Cr2Vc.gff'

In [9]:
df_gff = pd.read_csv(file_gff,sep='\t',header=None)

In [8]:
df.head()

    0               1         2         3
0  s1  Vocar20008197m  10007962  10008957
1  s1  Vocar20008198m   8405273   8410668
2  s1  Vocar20008199m   4738119   4740139
3  s1  Vocar20008200m   4973145   4978575
4  s1  Vocar20008201m    935923    939692

In [101]:
df_tha = pd.read_csv(file_gff_tha,sep='\t',header=None,skiprows=1)

In [102]:
mask = (df_ath[2]=='gene')
df_ath = df_ath[mask]
df_ath.head()

,0,1,2,3,4,5,6,7,8
0,Chr1,phytozome8_0,gene,3631,5899,.,+,.,ID=AT1G01010;Name=AT1G01010
10,Chr1,phytozome8_0,gene,5928,8737,.,-,.,ID=AT1G01020;Name=AT1G01020
35,Chr1,phytozome8_0,gene,11649,13714,.,-,.,ID=AT1G01030;Name=AT1G01030
41,Chr1,phytozome8_0,gene,23146,31227,.,+,.,ID=AT1G01040;Name=AT1G01040
88,Chr1,phytozome8_0,gene,31170,33153,.,-,.,ID=AT1G01050;Name=AT1G01050

In [103]:
len(df_ath)

27416

In [49]:
mask = (df_tha[2]=='mRNA')
df_tha = df_tha[mask]
df_tha.head()

,0,1,2,3,4,5,6,7,8
1,scaffold_1,phytozome9_0,mRNA,10215584,10239664,.,+,.,ID=PAC:20194900;Name=Thhalv10024176m;pacid=201...
66,scaffold_1,phytozome9_0,mRNA,10222202,10239399,.,+,.,ID=PAC:20194901;Name=Thhalv10024178m;pacid=201...
112,scaffold_1,phytozome9_0,mRNA,1677535,1695178,.,+,.,ID=PAC:20192943;Name=Thhalv10024177m;pacid=201...
150,scaffold_1,phytozome9_0,mRNA,488357,503965,.,+,.,ID=PAC:20194524;Name=Thhalv10024179m;pacid=201...
178,scaffold_1,phytozome9_0,mRNA,3576033,3586074,.,-,.,ID=PAC:20194081;Name=Thhalv10024180m;pacid=201...

In [50]:
def get_genename(query):
    dic = dict(zip([x.split('=')[0] for x in query.split(';')],[x.split('=')[1] for x in query.split(';')]))
    return(dic['Name'])

In [20]:
ath_genename_list = [get_genename(x) for x in df_ath[8]]
df_ath["genename"] = ath_genename_list
df_ath = df_ath.set_index('genename')
tha_genename_list = [get_genename(x) for x in df_tha[8]]
df_tha["genename"] = tha_genename_list
df_tha = df_tha.set_index('genename')
#df_tha.head()

In [28]:
file_kaks = '/data2/k821209/pascal/droughtnet/At2Th.collinearity.kaks.clean'
df_kaks = pd.read_csv(file_kaks,sep='\t',header=None)

In [29]:
df_kaks.head()

          0            1                2              3         4         5
0    0-  0:  AT1G30700.1  Thhalv10027426m  1.000000e-151  0.400901  2.134071
1    0-  1:  AT1G30810.1  Thhalv10024338m   0.000000e+00  0.345269  1.755505
2    0-  2:  AT1G30820.1  Thhalv10024728m   0.000000e+00  0.161765  1.715730
3    0-  3:  AT1G30850.1  Thhalv10027261m   4.000000e-26  0.800911  1.723686
4    0-  4:  AT1G30860.1  Thhalv10024247m   1.000000e-30  0.750071  0.984989

In [36]:
ath_chromosomes = [df_ath.loc[x.split('.')[0]][0] for x in df_kaks[1]]
ath_location = [df_ath.loc[x.split('.')[0]][3] for x in df_kaks[1]]

In [59]:
tha_chr = [df_tha.loc[x][0] for x in df_kaks[2]]

In [60]:
df_kaks['ath_chr'] = ath_chromosomes
df_kaks['ath_loc'] = ath_location
df_kaks['tha_chr'] = tha_chr

In [69]:
df_kaks.head()
mask = (df_kaks['ath_chr'] != 'ChrC') & (df_kaks['ath_chr'] != 'ChrM')
df_kaks_masked = df_kaks[mask]

In [70]:
df_kaks_masked.to_csv('test.csv',sep='\t', index=None)

In [73]:
print len(df_kaks_masked[1]),len(set(df_kaks_masked[1]))

25570 19183

In [79]:
df_kaks_masked[1].value_counts()

AT1G69460.1    5
AT4G38860.1    5
AT1G04160.1    4
AT4G36260.1    4
AT1G01440.1    4
AT2G35960.1    4
AT1G62320.1    4
AT1G26690.1    4
AT1G01620.1    4
AT1G75250.2    4
AT1G14010.1    4
AT4G38740.1    4
AT2G35860.1    4
AT5G58930.1    4
AT1G26450.1    4
...
AT5G56460.1    1
AT4G38600.1    1
AT4G33940.1    1
AT2G28660.1    1
AT5G61620.1    1
AT4G21740.1    1
AT4G16060.1    1
AT1G80380.4    1
AT1G06060.1    1
AT2G32090.1    1
AT1G15590.2    1
AT5G20560.1    1
AT3G54630.1    1
AT4G17000.1    1
AT3G17470.1    1
Length: 19183, dtype: int64

In [80]:
df_kaks_masked.head()

,0,1,2,3,4,5,ath_chr,ath_loc,tha_chr
0,0- 0:,AT1G30700.1,Thhalv10027426m,1.000000e-151,0.400901,2.134071,Chr1,10892570,scaffold_1
1,0- 1:,AT1G30810.1,Thhalv10024338m,0.000000e+00,0.345269,1.755505,Chr1,10936765,scaffold_1
2,0- 2:,AT1G30820.1,Thhalv10024728m,0.000000e+00,0.161765,1.715730,Chr1,10944913,scaffold_1
3,0- 3:,AT1G30850.1,Thhalv10027261m,4.000000e-26,0.800911,1.723686,Chr1,10985078,scaffold_1
4,0- 4:,AT1G30860.1,Thhalv10024247m,1.000000e-30,0.750071,0.984989,Chr1,10986523,scaffold_1

In [82]:
df_kaks_masked[(df_kaks_masked[1]=='AT1G69460.1')]

,0,1,2,3,4,5,ath_chr,ath_loc,tha_chr
1192,51- 36:,AT1G69460.1,Thhalv10008758m,1.000000e-93,0.137558,1.056825,Chr1,26111809,scaffold_5
3873,72- 6:,AT1G69460.1,Thhalv10008684m,2.000000e-78,0.271316,2.709354,Chr1,26111809,scaffold_5
3979,78- 5:,AT1G69460.1,Thhalv10005484m,3.000000e-72,-2.000000,-2.000000,Chr1,26111809,scaffold_6
3987,79- 5:,AT1G69460.1,Thhalv10004879m,2.000000e-65,-2.000000,-2.000000,Chr1,26111809,scaffold_6
5807,106-191:,AT1G69460.1,Thhalv10019128m,9.000000e-114,0.051136,0.628776,Chr1,26111809,scaffold_9

In [96]:
df_syn1 = df_kaks_masked[[True if '51-' == x.strip()[0:3] else False for x in df_kaks_masked[0]]]

In [87]:
df_kaks_masked[0][0]

'  0-  0:'

In [97]:
ath_synteny_genes = df_syn1[1]
eas_synteny_genes = df_syn1[2]